[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/calamityesp/nvim_config_kdds.git
  branch = work
[submodule "tmux"]
	path = tmux
	url = https://github.com/calamityesp/tmux-kdds.git
  branch = work
[submodule "zsh"]
	path = zsh
	url = https://github.com/calamityesp/zshrc-kdds.git
  branch = work
